*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

h1{
  font-size:60px;
  margin-bottom:20px;
}

p{
  font-size:24px;
  margin-bottom:30px;
}

button{
  padding:12px 24px;
  border:none;
  background:#38bdf8;
  color:white;
  border-radius:8px;
  cursor:pointer;
}